---
---

<div class="bg-gray-100 p-6 rounded-lg overflow-hidden">
  <h2 class="text-2xl font-bold mb-2">En <span class="text-blue-800">TOSIBOOKSTORE</span></h2>
  <p class="mb-4">Siempre tenemos tesoros frescos para los amantes de la lectura.</p>

  <div class="mb-5">
    <img src="/src/assets/img/landing/pizarnikB.jpg" alt="Libros clásicos"  class="h-64 object-cover rounded-md shadow-lg transform -rotate-0 hover:rotate-1 transition-transform">
  </div>
  <p class="font-bold text-lg mb-2">¡Reserva el tuyo antes de que se agoten!</p>
  <a
    href="#novedades"
    class="inline-block bg-yellow-400 hover:bg-red-500 text-black overflow-y-auto overflow-x-hidden font-medium py-3 px-8 rounded-lg transition-colors shadow-md"
    data-aos-delay="100"
    data-aos="fade-up"
    >
    Ver todas las preventas
  </a>
</div>
