---
const year = new Date().getFullYear();
---

<!--begin::Footer-->
<footer class="app-footer bg-black" data-bs-theme="dark">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Todo lo que buscas</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <strong>
    Copyright &copy; 2025-{year}&nbsp;
    <a href="https://adminlte.io" class="text-decoration-none">TosiBookStore</a>.
  </strong>
  Todos los derechos reservados
  <!--end::Copyright-->
</footer>
<!--end::Footer-->

